.header__lang-link {
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.header__lang-link:not(:last-child) {
  margin-right: 12px;
}

.header__lang-link:hover {
text-decoration: underline;
}

@media screen and (max-width: 720px) {
  .header__lang-link:not(:last-child) {
    margin-right: 14px;
  }
}
