.place__image {
  max-width: 46.8%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 47.3%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 47.1%;
    height: 100%;
  }
}

@media screen and (max-width: 720px) {
  .place__image {
    max-width: 100%;
  }
}
