.place__link {
  max-width: 70%;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0;
  border: 0;
  transition: .4s;
}

.place__link:hover {
  opacity: .8;
}
