.cover__title {
  max-width: 47%;
  line-height: 1.05;
  font-size: 72px;
  font-weight: 900;
  color:#ffffff;
  padding: 0;
  border: 0;
  margin: 0 auto 32px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 54%;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 894px) {
  .cover__title {
    max-width: 73%;
  }
}

@media screen and (max-width: 720px) {
  .cover__title {
    line-height: 1.08;
    font-size: 32px;
    max-width: 100%;
    margin-bottom: 16px;
  }
}

