.footer {
  display: flex;
  justify-content: space-between;
  width: 92.5%;
  margin: 0 auto;
  padding: 28px 0 0;
  border: 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.75%;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    display: grid;
    grid-auto-rows: max-content;
    gap: 28px;
    width: 90%;
    padding-bottom: 16px;
  }
}
