.place__url-heading {
  max-width: 70%;
  margin: 0 0 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", "Arial", sans-serif;
  color: #AAAAAA;
  padding: 0;
  border: 0;
}
