.header__lang-links {
  line-height: 0.85;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  margin: 22px 0 0 0;
  border: 0;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    line-height: 0.9;
    font-size: 18px;
    margin: 16px 0 0 0;
  }
}
