.place__website {
  width: 49.2%;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 768px) {
  .place__website {
    width: 49%;
  }
}

@media screen and (max-width: 720px) {
  .place__website {
    width: 100%;
    align-self: normal;
    margin: 32px 0 0;
  }
}
