.intro__title {
  text-align: start;
  margin: 0;
  width: 78.2%;
  line-height: 1.05;
  font-size: 54px;
  font-weight: 900;
  color:#ffffff;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 1024px) {
.intro__title {
  width: 90.625%;
  line-height: 1.04;
}
}

@media screen and (max-width: 768px) {
.intro__title {
  width: 100%;
}
}

@media screen and (max-width: 720px) {
.intro__title {
  line-height: 1.09;
  font-size: 32px;
}
}
